$color_1: #eb1551;
$color_2: #83848f;
$background_color_1: rgba(235, 21, 81, .12);

.ce-warning {
    display: grid;
    grid-template-columns: 50px 1fr;
    color: $color_1;
    padding: 8px;
    border-radius: 12px;
    background-color: $background_color_1;
    .warning-tool__warning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cdx-warning_icon {
            align-items: center;
        }
    }
}
.ce-quote {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    .quote-tool__icon {
        font-size: 2em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        fill: #e3e3e5;
        .quote-icon__right {
            left: 0;
        }
        .quote-icon__left {
            right: 0;
            -webkit-transform: rotate(180deg) translateY(50%);
            -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
        }
    }
    .quote-tool__author {
        color: $color_2;
    }
}
.image-tool {
    &:not(.image-tool--withBackground) {
        .image-tool__image {
            width: fit-content;
        }
    }
    .image-tool--withBorder {
        .image-tool__image {
            border: unset;
            box-shadow: 0 0 24px -18px rgba(69, 104, 129, .33), 0 0 45px 0 rgba(114, 119, 160, .12);
            transition: all .3s cubic-bezier(.25, .8, .25, 1);
        }
    }
    .image-tool__image-picture {
        margin-bottom: 5px !important;
    }
    .image-tool--withBackground {
        .image-tool__image {
            padding: 15px;
            background: #eef5fa;
        }
    }
}
